body
{
	padding: 10; 
	width: 80%;
	font-size: 1.2em;
	margin-left:10%;

}

canvas 
{
	vertical-align: top;
} 

h1
{
	font-family: 'Bad Script', cursive;
}

#img {
	width:80%;
	margin-left: 10%;
}

.dropdown
{
position: relative;
width: 200px;
left: 50%;
margin-left: -100px;
padding-left: 35%;
}

.centerMe
{
	position: relative;
	text-align: center;
}

#submit
{
	position: relative;
	min-width:60px;
	width:10%;
	height: 30px;
	margin-left: 45%;
}

#result
{
	margin-top: 30px;
	font-family: 'Bad Script', cursive;
	position: relative;
	width: 80%;
	margin-left: 10%;
}

#nav
{
	margin: 20px;
}